{% load static %}
<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}Aprenda programação, explore tecnologias e domine metodologias ágeis. Tutoriais, insights e reflexões para curiosos e apaixonados por tecnologia!{% endblock %}">
  <meta name="keywords" content="{% block meta_keywords %}programação, desenvolvimento, Django, blog, Python, frameworks web, desenvolvimento web, Flask, aplicações web, PWA, backend, frontend, tutorial Django, desenvolvimento de software, sistemas web, criação de sites, tecnologia, aprendizado Django, desenvolvimento ágil, web apps, blogs técnicos
  {% endblock %}">
  <meta name="author" content="Um Byte de Ideias">
  <link rel="shortcut icon" href="/media/Umb.png" type="image/x-icon">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github-dark.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
  <!-- Header -->
    {% block header %}
    {% endblock %}
  <!-- Navbar -->
  <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
      <a href="/" class="img-link">
        <img src="/media/UmB.png" class="img-fluid" alt="Logo Um Byte de Ideias">
      </a>
        {% block search %}
        {% endblock %}
  {% include 'components/_navbar.html' %}
  <!-- Main Content -->
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <!-- Footer -->
  {% include 'components/_footer.html' %}
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</body>

</html>