{% extends 'base.html' %}
{% block title %}
Um Byte de Ideias: Explorando tecnologia, um byte por vez.
{% endblock %}
{% block header %}
<header class="blog-header" style="background: url('/media/home-bg.jpg') center center / cover no-repeat;">
  <div class="container">
    <h1 class="display-4">Um Byte de Ideias</h1>
    <p class="lead">Explorando tecnologia, um byte por vez.</p>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="text-bg-primary p-3">
  <h3>
    <i class="bi bi-info-circle"></i> Sobre o Um Byte de Ideias
  </h3>
</div>
<div class="container">
  <p></p>
  <p>Bem-vindo ao <strong>Um Byte de Ideias</strong>, um espaço criado para compartilhar conhecimentos, experiências e aprendizados sobre o universo da tecnologia e do desenvolvimento de software.</p>
  <p>O blog nasceu com o propósito de documentar e dividir minha jornada como desenvolvedor, abordando desde as tecnologias que já domino – como <strong>Python</strong>, <strong>Django</strong>, <strong>DRF</strong>, <strong>Linux</strong> e <strong>Docker</strong> – até aquelas que estou explorando ou pretendo aprender, como <strong>JavaScript</strong>, <strong>TypeScript</strong>, <strong>Go</strong> e <strong>Rust</strong>.</p>
  <p>Aqui você encontrará conteúdos que vão desde insights técnicos e análises sobre stacks de desenvolvimento até relatos sobre projetos que desenvolvi com o objetivo de construir um portfólio sólido e atraente.</p>
  <p>Mais do que um espaço pessoal, o <strong>Um Byte de Ideias</strong> busca ser um ambiente plural, onde diferentes visões e experiências possam ser compartilhadas. Além das minhas contribuições, já contamos com autores convidados que ajudam a enriquecer o blog com seus conhecimentos e reflexões.</p>
  <p>Nosso objetivo é simples: que cada postagem traga ao menos <em>um byte de ideias</em> para inspirar, ensinar ou despertar sua curiosidade.</p>
  <p>Prepare-se para mergulhar nesse universo e se juntar à nossa jornada de aprendizado e evolução. Seja bem-vindo(a)! 🚀</p>
  <hr>  
</div>
<div class="container my-5">
  <div class="row">
    <!-- Blog Authors -->
      {% for author in authors %}
      <div class="card shadow-sm mb-5" id="{{ author.slug }}">
        <img src="{{ author.profile.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">{{ author.name }}</h2>
          <p class="lead">{{ author.subtitle }}</p>
          <p>{{ author.bio|safe }}</p>
          <h4 class="mt-4 mb-3">Redes Sociais</h4>
          <div class="social-buttons-black">
            <a href="{{ author.linkedin }}" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="{{ author.github }}" target="_blank"><i class="bi bi-github"></i></a>
            {{% if author.x %}}
            <a href="{{ author.x }}" target="_blank"><i class="bi bi-twitter-x"></i></a>
            {{% endif %}}
          </div>
          <a href="{% url 'author_detail' author.slug %}" class="btn btn-primary btn-sm">Ver Posts</a>
        </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}