{% extends 'base.html' %}
{% block title %}
Um Byte de Ideias: Explorando tecnologia, um byte por vez.
{% endblock %}
{% block header %}
<header class="blog-header" style="background: url('/media/home-bg.jpg') center center / cover no-repeat;">
  <div class="container">
    <h1 class="display-4">Um Byte de Ideias</h1>
    <p class="lead">Explorando tecnologia, um byte por vez.</p>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="text-bg-primary p-3">
  <h3>
    <i class="bi bi-info-circle"></i> Sobre o Um Byte de Ideias
  </h3>
</div>
<div class="container">
  <p></p>
  <p>Bem-vindo ao Um Byte de Ideias, um espaço onde tecnologia e criatividade se encontram! Aqui, exploramos o universo da programação, desenvolvimento web, inteligência artificial e inovações tecnológicas, sempre com uma pitada de curiosidade e paixão por resolver problemas.</p>
  <p>Nosso objetivo é transformar conceitos complexos em insights acessíveis, compartilhar aprendizados práticos e inspirar desenvolvedores – de iniciantes a experientes – a expandirem seus horizontes.</p>
  <p>Seja você alguém buscando aprimorar suas habilidades, um entusiasta de tecnologia ou apenas curioso sobre como o digital molda o mundo, este blog é para você. Junte-se a nós nessa jornada por um mundo repleto de ideias que cabem em um byte!</p>
  <h2>Conheça nossos Autores:</h2>
</div>
<div class="container my-5">
  <div class="row">
    <!-- Blog Authors -->
      {% for author in authors %}
      <div class="card shadow-sm mb-5" id="{{ author.slug }}">
        <img src="{{ author.profile.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">{{ author.name }}</h2>
          <p class="lead">{{ author.subtitle }}</p>
          <p>{{ author.bio|safe }}</p>
          <h4 class="mt-4 mb-3">Redes Sociais</h4>
          <div class="social-buttons-black">
            <a href="https://www.linkedin.com/in/wilker-santos/" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="https://github.com/wilkerdossantos" target="_blank"><i class="bi bi-github"></i></a>
            <a href="https://github.com/wilkerdossantos" target="_blank"><i class="bi bi-twitter-x"></i></a>
          </div>
          <a href="{% url 'author_detail' author.slug %}" class="btn btn-primary btn-sm">Ver Posts</a>
        </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}